<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput
           placeholder="Search cities"
           name="query"
           [(ngModel)]="query">
  </mat-form-field>
  <div class="button-row" style="margin-left: 10px;">
    <input mat-raised-button
            color="primary" type="button"
            onclick="search(query)" name="Submit">
  </div>
</form>

<div *ngIf="errorMessage?.message" class="container">{{errorMessage.cod }} | {{ errorMessage.message }}</div>

